- var itemID = productContent.uid
- var itemName = productContent.data.title != "" ? PrismicDOM.RichText.asText(productContent.data.title) : "Unknown"
- var itemImageURL = productContent.data.image.Snipcart.url
- var itemWeight = productContent.data.snipcartWeight
- var itemDescription = productContent.data.snipcartDescription
- var itemMaxQuantity = productContent.data.snipcartMaxQuantity
- var itemURL = pageUrl

a.button.add-to-cart.snipcart-add-item(href="#" data-item-id=itemID, data-item-name=itemName, data-item-price=price, data-item-image=itemImageURL, data-item-weight=itemWeight, data-item-url=itemURL, data-item-description=itemDescription, data-item-max-quantity=itemMaxQuantity) Add To Cart